### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Level 1 Training/Week 2 -Loops-/temp.cpp
CMakeLists.txt
photo_5958503246542780344_y.jpg
ps_final.pdf
ps_cv.pdf
Level 1 Training/Conditions sheet/temp.cpp
.idea
cmake-build-debug

